# 合并日收益

In [2]:
import os
import pandas as pd

In [6]:
os.chdir(r'/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后')

TRD_Dalyr1 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/1997-2001/TRD_Dalyr.csv'))

TRD_Dalyr2 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2002-2006/TRD_Dalyr.csv'))
TRD_Dalyr3 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2002-2006/TRD_Dalyr1.csv'))


TRD_Dalyr4 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2007-2011/TRD_Dalyr.csv'))
TRD_Dalyr5 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2007-2011/TRD_Dalyr1.csv'))

TRD_Dalyr6 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2012-2016/TRD_Dalyr.csv'))
TRD_Dalyr7 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2012-2016/TRD_Dalyr1.csv'))
TRD_Dalyr8 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2012-2016/TRD_Dalyr2.csv'))

TRD_Dalyr9 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2017-2021/TRD_Dalyr.csv'))
TRD_Dalyr10 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2017-2021/TRD_Dalyr1.csv'))
TRD_Dalyr11 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2017-2021/TRD_Dalyr2.csv'))
TRD_Dalyr12 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2017-2021/TRD_Dalyr3.csv'))
TRD_Dalyr13 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2017-2021/TRD_Dalyr4.csv'))

TRD_Dalyr14 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2022-2023/TRD_Dalyr.csv'))
TRD_Dalyr15 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2022-2023/TRD_Dalyr1.csv'))
TRD_Dalyr16 = pd.read_csv(os.path.join('/Users/mac/Desktop/数据/A 股 1990-2024 CSMAR/日个股回报率文件/剔除后/2022-2023/TRD_Dalyr2.csv'))

daily_data = pd.concat([TRD_Dalyr1, TRD_Dalyr2, TRD_Dalyr3, TRD_Dalyr4, TRD_Dalyr5, TRD_Dalyr6, TRD_Dalyr7, TRD_Dalyr8, TRD_Dalyr9, TRD_Dalyr10, TRD_Dalyr11, TRD_Dalyr12, TRD_Dalyr13, TRD_Dalyr14, TRD_Dalyr15, TRD_Dalyr16], ignore_index=True)
daily_data.tail(10)

,Stkcd,Trddt,Opnprc,Hiprc,Loprc,Clsprc,Dnshrtrd,Dnvaltrd,Dsmvosd,Dsmvtll,...,Markettype,Capchgdt,Trdsta,Ahshrtrd_D,Ahvaltrd_D,PreClosePrice,ChangeRatio,LimitDown,LimitUp,LimitStatus
13034267,689009,2023-12-18,31.43,31.65,31.12,31.38,2621621,82192884.0,1642666.31,2261571.91,...,32,2023-10-30,1,0.0,0.0,31.38,0.000000,25.10,37.66,0.0
13034268,689009,2023-12-19,31.42,31.70,30.85,31.03,2973299,92507955.0,1624344.66,2236347.24,...,32,2023-10-30,1,0.0,0.0,31.38,-0.011154,25.10,37.66,0.0
13034269,689009,2023-12-20,31.06,31.23,30.60,30.69,2420459,74952364.0,1606546.49,2211843.28,...,32,2023-10-30,1,0.0,0.0,31.03,-0.010957,24.82,37.24,0.0
13034270,689009,2023-12-21,30.84,31.40,30.45,31.30,3351306,103798819.0,1638478.50,2255806.27,...,32,2023-10-30,1,0.0,0.0,30.69,0.019876,24.55,36.83,0.0
13034271,689009,2023-12-22,31.28,31.70,30.70,31.06,3036142,93943307.0,1625915.09,2238509.36,...,32,2023-10-30,1,0.0,0.0,31.30,-0.007668,25.04,37.56,0.0
13034272,689009,2023-12-25,30.85,31.20,30.06,30.08,3591121,109649398.0,1574614.48,2167880.28,...,32,2023-10-30,1,700.0,21056.0,31.06,-0.031552,24.85,37.27,0.0
13034273,689009,2023-12-26,30.14,30.25,26.00,27.85,9042296,251945474.0,1457879.43,2007163.09,...,32,2023-10-30,1,0.0,0.0,30.08,-0.074136,24.06,36.10,0.0
13034274,689009,2023-12-27,27.90,28.89,27.18,28.89,5488847,155156381.0,1512320.89,2082116.40,...,32,2023-10-30,1,0.0,0.0,27.85,0.037343,22.28,33.42,0.0
13034275,689009,2023-12-28,28.58,29.85,28.44,29.20,5027247,147201133.0,1528548.64,2104458.25,...,32,2023-10-30,1,410.0,11972.0,28.89,0.010730,23.11,34.67,0.0
13034276,689009,2023-12-29,29.25,30.14,29.25,29.66,3923048,116933801.0,1552628.51,2138442.64,...,32,2023-12-28,1,0.0,0.0,29.20,0.015753,23.36,35.04,0.0

In [7]:
daily_data.head(10)

,Stkcd,Trddt,Opnprc,Hiprc,Loprc,Clsprc,Dnshrtrd,Dnvaltrd,Dsmvosd,Dsmvtll,...,Markettype,Capchgdt,Trdsta,Ahshrtrd_D,Ahvaltrd_D,PreClosePrice,ChangeRatio,LimitDown,LimitUp,LimitStatus
0,2,1997-01-02,10.41,10.78,10.30,10.45,2919324,30568143.20,1808900.53,2573967.13,...,4,1996-08-06,1,NaN,NaN,10.47,-0.001910,9.42,11.52,0.0
1,2,1997-01-03,10.60,11.20,10.38,10.50,6157916,66558878.15,1817555.55,2586282.76,...,4,1996-08-06,1,NaN,NaN,10.45,0.004785,9.41,11.50,0.0
2,2,1997-01-06,10.40,10.50,9.90,9.90,2973721,30129517.64,1713695.24,2438495.18,...,4,1996-08-06,1,NaN,NaN,10.50,-0.057143,9.45,11.55,0.0
3,2,1997-01-07,9.70,10.44,9.36,10.24,3794509,38103638.09,1772549.42,2522241.47,...,4,1996-08-06,1,NaN,NaN,9.90,0.034343,8.91,10.89,0.0
4,2,1997-01-08,10.24,10.25,9.95,10.04,1845936,18558994.50,1737929.31,2472978.95,...,4,1996-08-06,1,NaN,NaN,10.24,-0.019531,9.22,11.26,0.0
5,2,1997-01-09,10.10,10.45,10.10,10.29,2338071,24052645.76,1781204.44,2534557.11,...,4,1996-08-06,1,NaN,NaN,10.04,0.024900,9.04,11.04,0.0
6,2,1997-01-10,10.40,10.41,10.10,10.29,1889624,19433797.19,1781204.44,2534557.11,...,4,1996-08-06,1,NaN,NaN,10.29,0.000000,9.26,11.32,0.0
7,2,1997-01-13,10.45,10.50,10.30,10.41,2148719,22386630.89,1801976.51,2564114.62,...,4,1996-08-06,1,NaN,NaN,10.29,0.011662,9.26,11.32,0.0
8,2,1997-01-14,10.35,10.68,10.20,10.40,2490413,26081140.10,1800245.50,2561651.50,...,4,1996-08-06,1,NaN,NaN,10.41,-0.000961,9.37,11.45,0.0
9,2,1997-01-15,10.35,10.45,10.25,10.36,1410712,14605277.90,1793321.48,2551798.99,...,4,1996-08-06,1,NaN,NaN,10.40,-0.003846,9.36,11.44,0.0

In [ ]:
daily_data.to_csv('daily_data.csv')